/*7*/
section.people{
    background-color: #F0F4F9;

 }
 section.people div.pep{
    
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    gap: 20px;
    margin: 30px auto;
    flex-wrap: wrap;
   

 }
 section.people div.pep div{
    display: flex;
    background-image: url(../img/map.png);
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    width: 20%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
 }
 section.people div.pep div img{
    width: 100%;
 }
 section.people div.pep div span{
    font-size: xx-large;
 }
 section.people div.pep div p{
    font-size: x-small;
    color: #00B2B2;
 }